* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: chartreuse;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 144px;
}
.tainer {
    list-style: none;
}
.box {
  background-color: #fff;
  width: 600px;
  position: relative;
  overflow: hidden;
}
.img {
    width: 400px;
    text-align: center;
    position: absolute;
    top: 100px;
}
