*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background: aliceblue;

}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

.opasity {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0 auto;
    overflow: hidden;
    width: 1440px;
    height: 860px;
}

.opasity::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    background: #000;
}

.opasity:hover {
    cursor: pointer;
}

.opasity:active {
    background: url(./plan.html);
}

.coffee-container {
    background: #FEFCF7;
    height: 113px;
    align-items: center;
    display: flex;
    gap: 740px;
    z-index: -1;
}

.coffee__cards {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 33px;
}

.coffee__card--link {
    text-decoration: none;
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;

}


.plan__container {
    position: relative;
    margin-bottom: 177px;
}

.plan__container--info {
    margin-top: -330px;
    margin-left: 96px;
}

.plan__container--great {
    color: #FEFCF7;
    font-family: 'Fraunces';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    margin-bottom: 32px;
}

.plan__container--build {
    width: 445px;
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}




.works__container {
    border-radius: 10px;
    background: #2C343E;
    z-index: 0;
    margin-bottom: 160px;
}

.img {
    z-index: -1;
}

.works__container--img {
    position: relative;
    margin-top: 91px;
    padding-top: 91px;
}

.img-pos {
    margin-top: 72px;
    margin-left: 135px;
}

.hero3 {
    margin-bottom: 200px;
}

.works__container--how {
    width: 255px;
    color: #83888F;
    font-family: 'Fraunces';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 80px;
}

.pos1 {
    margin-bottom: 82px;
}

.works__container--pos {
    position: absolute;
    bottom: 70px;
    left: 0;
}

.works__container--pos2 {
    position: absolute;
    bottom: 70px;
    left: 349px;
}

.works__container--pos3 {
    position: absolute;
    bottom: 70px;

}

.works__container--cards {
    display: flex;
    list-style: none;
    gap: 95px;
    z-index: 1;
}

.works__container--card {
    width: 285px;
    height: 355px;
}

.works__container--nomber {
    color: #FDD6BA;
    font-family: 'Fraunces';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    margin-bottom: 32px;
}

.works__container--pick {
    width: 255px;
    color: #FEFCF7;
    font-family: 'Fraunces';
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    margin-bottom: 62px;
}

.works__container--select {
    width: 285px;
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 42px;
}

.works__container--btn {
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 31px;
    padding-right: 31px;
    color: #FEFCF7;
    text-align: center;
    font-family: 'Fraunces';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    border-radius: 6px;
    background: #0E8784;
    border: none;
    margin-bottom: 200px;
}

.summary__container {
    width: 540px;
    height: 597px;
    position: absolute;
    left: 450px;
    top: 214px;
    bottom: 213px;
    border-radius: 8px;
    background: #FEFCF7;
}

.info {
    position: absolute;
    width: 540px;
    height: 136px;
    right: 0px;
    border-radius: 8px 8px 0px 0px;
    background: #333D4B;
}

.order {
    margin-top: 40px;
    margin-left: 40px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.infos {
    margin-top: 200px;
}

.myco {
    width: 428px;
    color: #83888F;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 7px;
}

.filter {
    color: #0E8784;
}

.this {
    width: 428px;
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
    margin-bottom: 47px;
}

.dis {
    display: flex;
    gap: 15px;
    margin-top: 47px;
    width: 428px;
    justify-content: center;
    align-items: center;
}

.mo {
    color: #333D4B;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
}

.out {
    padding: 15px 64px;
    color: #FEFCF7;
    text-align: center;
    font-family: 'Fraunces' 9pt;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    border-radius: 6px;
    background: #0E8784;
    border: none;
    cursor: pointer;
}



