.footer__container {
    padding: 100px 136px;
    width: 1440px;
    flex-shrink: 0;
    height: 779px;
    background: #292C32;
    position: relative;

    .footer__container--img {
        margin-left: 504px;
        margin-bottom: 75px;
    }

    .nav-boxes {
        display: flex;
        gap: 16px;
        margin-bottom: 28px;

        .pages {
            color: #B87D58;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.6px;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 9px;
        }

        .footer__container--cards {
            list-style: none;
            
           
            .footer__container--card {
                width: 220.797px;
                margin-bottom: 13px;

                .link {
                    text-decoration: none;
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22.4px;
                }


            }


        }

         .vitae {
            margin-bottom: 29px;
        }

        .areas {
            margin-bottom: 19px;
        }

        .nav-info {
            display: flex;
            gap: 518px;

            .display {
                display: flex;
                gap: 20px;
            }
        }

    }

    .nav-box4 {
        list-style: none;
        

        .blass {
            width: 404px;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22.4px;
            margin-bottom: 8px;
        }

        .dis-inp {
            display: flex;
            position: relative;

            .nav-box3__input {
                padding-top: 14px;
                padding-bottom: 14px;
                padding-left: 24px;
                padding-right: 332px;

                width: 458px;
                height: 53px;
                flex-shrink: 0;

                border-radius: 8px;
                border: 1px solid #E5E7EB;
                background: #F9FAFB;
            }

            .nav-box3__input::placeholder {
                color: #ABABAB;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22.4px;
            }

            .nav-box3__input2 {
                padding-top: 7px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 9px;
                border-radius: 10px;
                position: absolute;
                left: 340px;
                top: 7px;
                background: #292C32;
                color: #FAFAFC;
                border: none;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22.4px;
            }
        }
    }

    .nav-info {
        display: flex;
        gap: 500px;

        .llc {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22.4px;
        }

        .display {
            display: flex;
            gap: 20px;
        }
    }
}