.mirro__container {
    display: flex;
    gap: 20px;
    background: #FFF;
    padding: 10px 120px;
}



.mirro__container--nav {
    display: flex;
    gap: 567px;

    .mirro__container--cards {
        list-style: none;
        display: flex;
        gap: 20px;

        .mirro__container--link {
            text-decoration: none;
            color: #3A5F56;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
    }
}


.btn {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    position: relative;
    right: 0;

    .btn-2 {
        padding-right: 45px;
        padding-left: 43px;
        padding-bottom: 11px;
        padding-top: 10px;

        border-radius: 6px;
        background: #3A5F56;
        text-decoration: none;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.4px;
    }

    .pos {
        position: absolute;
        right: 87px;
    }

    .cor {
        width: 19px;
        height: 18px;
        border-radius: 9px;
        background: #FFF;
        text-align: center;
        align-items: center;
        justify-content: center;
        left: 85px;
        position: absolute;

        color: #3A5F56;
        text-align: center;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }
}