*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background: aliceblue;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

.coffee-container {
    background: #FEFCF7;
    height: 113px;
    align-items: center;
    display: flex;
    gap: 740px;
}

.coffee__cards {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 33px;
}

.coffee__card--link {
    text-decoration: none;
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;

}

.hero {
    padding-bottom: 136px;

}

.info {
    padding-top: 117px;
    padding-left: 100px;
}

.create__container--info {
    background-image: url(../imge/Bitmap.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 8px;
}

.create__container--info::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.40);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 8px;
}

.create__container--great {
    width: 493px;
    color: #FEFCF7;
    font-family: 'Fraunces';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}

.create__container--start {
    width: 445px;
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 32px;
    padding-bottom: 275px;
}


.our-container {
    display: flex;
    gap: 135px;
    margin-bottom: 256px;
}


.our-container--info {
    width: 540px;
    height: 340px;
    padding-top: 90px;
}

.our-container--our {
    color: #333D4B;
    font-family: 'Fraunces';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 32px;
}

.our-container--were {
    width: 540px;
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.quality__container {
    display: flex;
    border-radius: 10px;
    background: #2C343E;
    gap: 92px;
    position: relative;
    margin-bottom: 168px;
    width: 1280px;
    height: 474px;
    padding-bottom: 168px;
}


.quality__container--info {
    margin-top: 88px;

}


.quality__container--quality {
    color: #FEFCF7;
    font-family: 'Fraunces';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 32px;
}

.quality__container--work {
    width: 540px;
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.quality__container--img {
    position: absolute;
    left: 717px;
    right: 51px;
    top: -157px;
    border-radius: 8px;
}

.head__container--our {
    width: 255px;
    color: #83888F;
    font-family: 'Fraunces';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 72px;
}

.head__container--cards {
    display: flex;
    list-style: none;
    gap: 95px;
}

.head__container--card {
    width: 285px;
    margin-bottom: 168px;
}


.head__container--united {
    width: 272px;
    color: #333D4B;
    font-family: 'Fraunces';
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    margin-top: 45px;
    margin-bottom: 32px;
}

.head__container--asfor {
    width: 285px;
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.sters__container {
    background: #2C343E;
    margin-bottom: 30px;
    height: 113px;
    align-items: center;
    display: flex;
    gap: 102px;
}

.sters__container--cards {
    display: flex;
    gap: 33px;
    list-style: none;
}

.sters__container--link {
    text-decoration: none;
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
}

.gr {
    margin-left: 369px;
}